<%= form_for(@sevice) do |f| %>
  <% if @sevice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sevice.errors.count, "error") %> prohibited this sevice from being saved:</h2>

      <ul>
      <% @sevice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
